nav {
    height: 60px;
}

.jumbo > .row:first-of-type > div {
    max-width: 250px;
}
.star_linear{
    height: 3px;
}

.jumbo .fw-bolder{
    margin-left: 10px;
}

.debug .jumbo{
    background-color:#1ABC9C ;
}


#image{
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position:center;
    border-radius:100%;
}


.linea_nera::before, .linea_nera::after{
    max-width: 100px;
    content: '';
    width: 15%;
    height: 4px;
    background-color: rgb(44 62 80);
    border-radius: 20em;
}

#about .container{
    background-color: #1ABC9C;
}